<!DOCTYPE html>
<html>
<head>
  <title>Demo reactjs</title>
  <script src="libs/react.js"></script>
  <script src="libs/react-dom.js"></script>
  <script src="libs/browser.min.js"></script>
  <script src="libs/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="root"></div>
  <script src="js/vd1.js" type="text/babel"></script>
</body>
</html>